.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
.gradle-user-home/

android/app/google-services.json
android/local.properties
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart

functions/lib/
functions/node_modules/
functions/.runtimeconfig.json

.firebase/
.firebaserc
firebase-debug.log
firestore-debug.log
ui-debug.log

.idea/
.vscode/
*.iml

*.keystore
*.jks
key.properties
